<% content_for :sidebar do %>
  <%= render :partial => "spree/shared/taxonomies" %>
<% end %>

<h1><%= title %></h1>
<div id="box_locations_container">
  <%= render partial: 'spree/boxes/box_location', collection: Spree::BoxLocation.frontend, as: :box_location %>
</div>